@import "tailwindcss";

/* For WebKit-based browsers (Chrome, Safari, Edge, etc.) */
.overflow-overlay::-webkit-scrollbar {
    width: 0.5rem; /* Or adjust as needed */
    height: 0.5rem; /* Or adjust as needed */
}
  
.overflow-overlay::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Adjust color and opacity */
    border-radius: 0.25rem; /* For rounded corners */
}
  
  /* For Firefox */
.overflow-overlay {
    scrollbar-width: thin; /* Or auto for default behavior */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Thumb color and track color */
}